.card-img-top{
    position: relative;
    height: 350px;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
}

.d-block {
    position: relative;
    height: 600px;
}
.btn-primary {
    display: flex;
    justify-content: flex-end;
}
.card-body {
    flex: 1;
}

